## Tennis Project
### Question 1

In [1]:
import pandas as pd
from pathlib import Path

In [5]:
root_path = Path("../data")

In [6]:
home_files = list(root_path.rglob("home_team_*.parquet"))
away_files = list(root_path.rglob("away_team_*.parquet"))
print(f"Found {len(home_files)} home files and {len(away_files)} away files")

Found 60774 home files and 59256 away files

In [22]:
dfs = []
for file in (home_files + away_files)[:100]:
    df = pd.read_parquet(file)
    dfs.append(df)
df_all = pd.concat(dfs, ignore_index=True)
df_all.head()

C:\Users\mbahr\AppData\Local\Temp\ipykernel_7364\3554870039.py:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_all = pd.concat(dfs, ignore_index=True)

,match_id,name,slug,gender,user_count,residence,birthplace,height,weight,plays,turned_pro,current_prize,total_prize,player_id,current_rank,name_code,country,full_name
0,12156295,Collins D.,collins-danielle,F,6864,"St. Petersburg, FL, USA","St. Petersburg, FL, USA",1.78,None,right-handed,2014,1158669,6743563,58515,15,COL,USA,"Collins, Danielle"
1,12157171,Dimitrov G.,dimitrov-grigor,M,28927,"Monte Carlo, Monaco","Haskovo, Bulgaria",1.91,81,right-handed,2008,952941,21900208,23581,9,DIM,Bulgaria,"Dimitrov, Grigor"
2,12173700,Albot R.,albot-radu,M,2309,"Chisinau, Moldova","Chisinau, Moldova",1.75,69,right-handed,2008,52648,4240082,44547,132,ALB,Moldova,"Albot, Radu"
3,12173714,Hassan B.,hassan-benjamin,M,1320,Germany,"Merzig, Germany",1.83,85,right-handed,None,57103,210248,108767,158,HAS,Germany,"Hassan, Benjamin"
4,12173950,Passaro F.,passaro-francesco,M,2835,None,"Perugia, Italy",1.80,None,right-handed,None,42063,483728,258908,200,PAS,Italy,"Passaro, Francesco"

In [23]:
df_all.columns

Index(['match_id', 'name', 'slug', 'gender', 'user_count', 'residence',
       'birthplace', 'height', 'weight', 'plays', 'turned_pro',
       'current_prize', 'total_prize', 'player_id', 'current_rank',
       'name_code', 'country', 'full_name'],
      dtype='object')

In [24]:
df_all[["name", "slug", "name_code", "country"]].head(10)

          name                   slug name_code   country
0   Collins D.       collins-danielle       COL       USA
1  Dimitrov G.        dimitrov-grigor       DIM  Bulgaria
2     Albot R.             albot-radu       ALB   Moldova
3    Hassan B.        hassan-benjamin       HAS   Germany
4   Passaro F.      passaro-francesco       PAS     Italy
5    Moutet C.        moutet-corentin       MOU    France
6   Herbert P.  herbert-pierre-hugues       HER    France
7      Soto M.            soto-matias       SOT     Chile
8     Mejía N.          mejia-nicolas       MEJ  Colombia
9     Mejía N.          mejia-nicolas       MEJ  Colombia

In [26]:
num_players = df_all["slug"].nunique()
print(f"Number of unique players: {num_players}")

Number of unique players: 96

### Result:There are 96 unique tennis players based on the slug column.