## Tennis Project
### Question 6

In [1]:
import pandas as pd
from pathlib import Path

In [2]:
root_path = Path("../data")

In [3]:
home_files = list(root_path.rglob("home_team_*.parquet"))
away_files = list(root_path.rglob("away_team_*.parquet"))

In [4]:
dfs = []

for file in (home_files + away_files)[:200]:
    df = pd.read_parquet(file)
    dfs.append(df)

df_all = pd.concat(dfs, ignore_index=True)
df_all.head()

C:\Users\mbahr\AppData\Local\Temp\ipykernel_12524\1909300601.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_all = pd.concat(dfs, ignore_index=True)

,match_id,name,slug,gender,user_count,residence,birthplace,height,weight,plays,turned_pro,current_prize,total_prize,player_id,current_rank,name_code,country,full_name
0,12156295,Collins D.,collins-danielle,F,6864,"St. Petersburg, FL, USA","St. Petersburg, FL, USA",1.78,None,right-handed,2014,1158669,6743563,58515,15,COL,USA,"Collins, Danielle"
1,12157171,Dimitrov G.,dimitrov-grigor,M,28927,"Monte Carlo, Monaco","Haskovo, Bulgaria",1.91,81,right-handed,2008,952941,21900208,23581,9,DIM,Bulgaria,"Dimitrov, Grigor"
2,12173700,Albot R.,albot-radu,M,2309,"Chisinau, Moldova","Chisinau, Moldova",1.75,69,right-handed,2008,52648,4240082,44547,132,ALB,Moldova,"Albot, Radu"
3,12173714,Hassan B.,hassan-benjamin,M,1320,Germany,"Merzig, Germany",1.83,85,right-handed,None,57103,210248,108767,158,HAS,Germany,"Hassan, Benjamin"
4,12173950,Passaro F.,passaro-francesco,M,2835,None,"Perugia, Italy",1.80,None,right-handed,None,42063,483728,258908,200,PAS,Italy,"Passaro, Francesco"

In [5]:
df_all.columns

Index(['match_id', 'name', 'slug', 'gender', 'user_count', 'residence',
       'birthplace', 'height', 'weight', 'plays', 'turned_pro',
       'current_prize', 'total_prize', 'player_id', 'current_rank',
       'name_code', 'country', 'full_name'],
      dtype='object')

In [6]:
country_counts = df_all["country"].value_counts()
country_counts.head(10)

country
France            21
USA               17
Germany           17
Russia            14
Japan             14
Italy             12
Spain             10
United Kingdom     7
Australia          6
Argentina          6
Name: count, dtype: int64

In [7]:
top_country = country_counts.index[0]
top_players = country_counts.iloc[0]

print(f"The country with the most successful players is '{top_country}' with {top_players} players.")

The country with the most successful players is 'France' with 21 players.

### Result:The country with the most successful players is 'France' with 21 players.