## Tennis Project
### Question 15

In [1]:
import pandas as pd
from pathlib import Path

In [2]:
root_path = Path("../data")

In [22]:
parquet_files = list(root_path.rglob("*.parquet"))
print(f"Found {len(parquet_files)} parquet files.")
sample_file = parquet_files[:31]

Found 442812 parquet files.

In [23]:
parquet_files = list(root_path.rglob("*.parquet"))
sample_files = parquet_files[:31]

In [25]:
dfs = []
for file in sample_files:
    df = pd.read_parquet(file)
    dfs.append(df)

In [26]:
all_df = pd.concat(dfs, ignore_index=True)
all_df.head()

,match_id,name,slug,gender,user_count,residence,birthplace,height,weight,plays,turned_pro,current_prize,total_prize,player_id,current_rank,name_code,country,full_name
0,12156295,Rybakina E.,rybakina-elena,F,22673,NaN,"Moscow, Russia",1.84,NaN,right-handed,2016,1226279,11104942,186312,4,RYB,Kazakhstan,"Rybakina, Elena"
1,12157171,Sinner J.,sinner-jannik,M,92881,"Monte Carlo, Monaco","San Candido, Italy",1.88,68.0,right-handed,2018,3301073,17518144,206570,2,SIN,Italy,"Sinner, Jannik"
2,12173700,Martínez P.,martinez-pedro,M,3165,"Valencia, Spain","Alzira, Spain",1.85,76.0,right-handed,2016,94362,2787963,77223,77,MAR,Spain,"Martinez, Pedro"
3,12173714,Martínez P.,martinez-pedro,M,3050,"Valencia, Spain","Alzira, Spain",1.85,76.0,right-handed,2016,94362,2787963,77223,77,MAR,Spain,"Martinez, Pedro"
4,12173950,Nardi L.,nardi-luca,M,7432,NaN,Pesaro,1.85,NaN,right-handed,NaN,123573,687717,289233,75,NAR,Italy,"Nardi, Luca"

In [27]:
unique_players = all_df['name'].nunique()
print(f"Number of unique tennis players: {unique_players}")

Number of unique tennis players: 28

In [30]:
unique_players = all_df.drop_duplicates(subset="player_id")
print("Number of unique tennis players:", len(unique_players))
unique_players[["player_id", "full_name"]].head(10)

Number of unique tennis players: 28

    player_id                    full_name
0      186312              Rybakina, Elena
1      206570               Sinner, Jannik
2       77223              Martinez, Pedro
4      289233                  Nardi, Luca
5       44553       Herbert, Pierre Hugues
7      289146  Mpetshi Perricard, Giovanni
8       36595                 Kudla, Denis
9      241039                 Soto, Matias
10     158748       Meligeni Alves, Felipe
11     326949               Vallejo Daniel

### Result:There are 28 unique players in this dataset.